<html>
<head>
<style>
body{
    background-color:pink;
}
.formelt{
    color:black;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 6px;
}
h1{
    color:purple;
    text-align: center;
    padding-top: 20px;
}
</style>
</head>
<body>
<div class="edge">
<div class="box">
<h1>BMI Calculation (BMI = w / h^2 )</h1>
<br>
<h3 align="center">Sujith RB(25009845) </h3>
<form method="POST">
    {% csrf_token %}
    <div class="formelt">
        weight (w): <input type="text" name="weight" value="{{w}}">(in kg)<br/>
    </div>
    <div class="formelt">
        height (h): <input type="text" name="height" value="{{h}}">(in m)<br/>
    </div>
    <div class="formelt">
    <input type="submit" value="Calculate"><br/>
    </div>
    <div class="formelt">
        BMI : <input type="text" name="BMI" value="{{BMI}}">(in kg/m^2 )<br/>
    </div>
</form>
</div>
</div>
</body>
</html>





